############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.tsbuildinfo
.eslintcache

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Package managers
############################

.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

############################
# Tests
############################

coverage

############################
# Strapi
############################

.env
license.txt
exports
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json

############################
# vue.js matching card game
############################
# Logs
/matching-card-game/logs
/matching-card-game/*.log
/matching-card-game/npm-debug.log*
/matching-card-game/yarn-debug.log*
/matching-card-game/yarn-error.log*
/matching-card-game/pnpm-debug.log*
/matching-card-game/lerna-debug.log*

/matching-card-game/node_modules
/matching-card-game/.DS_Store
/matching-card-game/dist
/matching-card-game/dist-ssr
/matching-card-game/coverage
/matching-card-game/*.local

/matching-card-game/cypress/videos/
/matching-card-game/cypress/screenshots/

# Editor directories and files
/matching-card-game/.vscode/*
/matching-card-game/!.vscode/extensions.json
/matching-card-game/.idea
/matching-card-game/*.suo
/matching-card-game/*.ntvs*
/matching-card-game/*.njsproj
/matching-card-game/*.sln
/matching-card-game/*.sw?

/matching-card-game/*.tsbuildinfo

/matching-card-game/node_modules